ansible==2.0.0.0
appdirs==1.4.0
backports.shutil-get-terminal-size==1.0.0
cffi==1.9.1
click==6.7
cryptography==1.7.2
decorator==4.0.11
enum34==1.1.6
Flask==0.12
Flask-Login==0.4.0
idna==2.2
ipaddress==1.0.18
ipython==5.2.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
ndg-httpsclient==0.4.2
packaging==16.8
paramiko==2.1.1
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
ptyprocess==0.5.1
pyasn1==0.1.9
pycparser==2.17
pycrypto==2.6.1
Pygments==2.2.0
pyOpenSSL==16.2.0
pyparsing==2.1.10
PyYAML==3.12
scandir==1.4
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
virtualenv==15.1.0
wcwidth==0.1.7
Werkzeug==0.11.15
