// Default stuff to apply to the etirety of the site.

body {
	background-image: url('../img/background.png');
}

.text-indent {
	margin-left: 30px;
}

.list-unstyled {
	li {
		margin: 1.3rem 0 1.3rem 0;
	}
}
