// Default stuff to apply to the etirety of the site.

body {
	background-image: url('../img/background.png');
}

.text-indent {
	margin-left: 30px;
}

.list-unstyled {
	li {
		margin: 1.3rem 0 1.3rem 0;
	}
}

.img-same-height {
    width: auto;
    height: 141px;
    margin: 5px 0 0 0; 
}

div[id*="modal-number-"] {
	width: auto;
	// max-width: 1280px;
}

.modal-content {
	border: 0;
}

.modal-footer {
	text-align: left;
}

a:hover {
	text-decoration: none;
}