body {
}

#main-container {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  width: 100%;
  min-width: 370px;
}

#main {
  flex: 1;
  width: 100%;
}

#footer {
  width: 100%;
}

#navigation {
  width: 100%;
	background-color: hsla(133, 100%, 50%, 0.0);
	}