div.lcd-panel {
	display: flex;
	flex-wrap: wrap;
}

div[class*="character-"] {
	display: flex;
	width: 105px;
	flex-wrap: wrap;
	margin: 10px 9px 10px 9px;
	div {
		background: hsla(0, 0%, 0%, 1);
		opacity: .05;
		height: 20px;
		width: 20px;
		margin: .5px;
		transition: opacity 300ms ease-in-out;
	}
}

.pixel-on {
	opacity: .8 !important;
	box-shadow: -4px 5px 10px hsla(0, 0%, 0%, 0.3);
	transition: opacity 300ms ease-in-out;
}

.pixel-persist {

}
