$dPixels: 4,9,11,12,14,15,18,19,20,24,25,29,31,32,33,34;
$aPixels: 11,12,13,19,21,22,23,24,25,29,31,32,33,34;
$nPixels: 10,12,13,15,16,19,20,24,25,29,30,34;

div.lcd-panel {
	display: flex;
	// flex-wrap: wrap;
}

div[class*="character-"] {
	display: flex;
	width: 105px;
	flex-wrap: wrap;
	margin: 10px 9px 10px 9px;
	div {
		background: hsla(0, 0%, 0%, 1);
		opacity: .05;
		height: 20px;
		width: 20px;
		margin: .5px;
		transition: opacity 300ms ease-in-out;
	}
}

.pixel-on {
	opacity: .8 !important;
	box-shadow: -4px 5px 10px hsla(0, 0%, 0%, 0.3);
	transition: opacity 300ms ease-in-out;
}

@each $pixel in $dPixels{
	.digit-pixel-1-#{$pixel} {
		opacity: .8 !important;
		box-shadow: -4px 5px 10px hsla(0, 0%, 0%, 0.3);
		transition: opacity 300ms ease-in-out;
	}
}

@each $pixel in $aPixels{
	.digit-pixel-2-#{$pixel} {
		opacity: .8 !important;
		box-shadow: -4px 5px 10px hsla(0, 0%, 0%, 0.3);
		transition: opacity 300ms ease-in-out;
	}
}

@each $pixel in $nPixels{
	.digit-pixel-3-#{$pixel} {
		opacity: .8 !important;
		box-shadow: -4px 5px 10px hsla(0, 0%, 0%, 0.3);
		transition: opacity 300ms ease-in-out;
	}
}

