{% extends "layout.html" %} {% block content %}
<div class="card">
  <h3 class="card-header">bureau of etc</h3>
  <div class="card-block">
    <h4 class="card-title">other internet opportunities</h4>
    <p class="card-text">
      <ul class="list-unstyled">
        <li>
          <p>
            <h4>
							<a href="https://twitter.com/burgersquid">@burgersquid</a>
							<br>
							<small class="text-muted text-indent">I needed a twitter handle, and it was late.</small>
						</h4>
          </p>
        </li>
        <li>
          <p>
            <h4>
							<a href="https://github.com/dwright213">github/dwright</a>
							<br>
							<small class="text-muted text-indent">im not a nerd, i'm a computer programmer.</small>
						</h4>
          </p>
        </li>
        <li>
          <p>
            <h4>
							<a href="https://www.hackster.io/musclecrab13">hackster.io profile</a>
							<br>
							<small class="text-muted text-indent">i need to get out to more hackathons.</small>
						</h4>
          </p>
        </li>
        <li>
          <p>
            <h4>
							<a href="http://classicsretold.tumblr.com/">classics retold</a>
							<br>
							<small class="text-muted text-indent">a silly little tumblr bot what i made a while back. I'm probably gonna bring it back soon.</small>
						</h4>
          </p>
        </li>
      </ul>
    </p>
  </div>
</div>
{% endblock %}
