<!doctype html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

	<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/tether.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/bootstrap.js') }}"></script>
</head>
<title>dan</title>
