{% extends "layout.html" %}
{% block content %}
	<div class="card">
		<h3 class="card-header">bureau of "DAN'S COOL WEBSITE"</h3>
		<div class="card-block">
			<h4 class="card-title">to whom it may concern:</h4>
			<p class="card-text">
			<p>
				This is some developer's personal website. Presently there isn't much to see, but soon enough It'll be a place for my projects from the last few years, and I'll probably use it to try out some of the newer web technologies that have been floating around.
			</p>
			<p>
				I'm currently in the process of building this thing out. In the meantime, please enjoy:
			</p>
			<img src="http://i.imgur.com/8kVWKYr.gif">
		</div>
	</div>
{% endblock %}