{% extends "layout.html" %}
{% block content %}
	<div class="card">
		<h3 class="card-header">bureau of infos</h3>
		<div class="card-block">
			<h4 class="card-title">about the titular character of this <i>web experience:</i></h4>
			<p class="card-text">
			<p>
				<ul>
					<li>internet chalk dealer*</li>
					<li>noise guy</li>
					<li>tinkerer</li>
					<li>drum machine misuser</li>
					<li>warranty voider</li>
					<li>ally</li>
					<li>terrible dj</li>
					<li>tall dude</li>
					<li>basketball ignorer</li>
					<marquee>
						<li>marquee tag lover</li>
					</marquee>
					<li>distraction persuer</li>
					<li>nopal farmer</li>
					<li>content creator</li>
					<li>boxer</li>
					<li>idea getter</li>
					<li>full stack developer</li>
					<li>tangent follower</li>
					<li>micranots fan</li>
					<li>tomatillo grower</li>
					<li>circuit bender</li>
					<li>poor mechanic</li>
					<li>motorcyclist</li>
					<li>broken rib enthusiast</li>
					<li>beat maker</li>
					<li>programmer</li>
					<li>hiker</li>
					<li>instruction manual ignorer</li>
				</ul>
			</p>
			And I think that just about covers it.
			<br>
			<br>
			<br>
			<br>
			*This one was a joke. I have never actually sold chalk on the internet.
			</p>
		</div>
	</div>
{% endblock %}