{% from "macros.html" import lcd_char with context %}

<div class="col-sm-12">
	<div class="lcd-panel">
		<div class="character-1">
			{{ lcd_char(1) }}
		</div>
		<div class="character-2">
			{{ lcd_char(2) }}
		</div>
		<div class="character-3">
			{{ lcd_char(3) }}
		</div>
		<div class="character-4">
			{{ lcd_char(4) }}
		</div>
		<div class="character-5">
			{{ lcd_char(5) }}
		</div>
		<div class="character-6">
			{{ lcd_char(6) }}
		</div>
		<div class="character-7">
			{{ lcd_char(7) }}
		</div>
		<div class="character-8">
			{{ lcd_char(8) }}
		</div>
	</div>
</div>